@{
    ViewData["Title"] = "Вход";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="login-box p-4">
        <h2 class="text-center mb-3">Вход</h2>

        <form method="post" asp-action="SendCode" class="d-flex flex-column gap-2">
            <input type="email" name="email" class="form-control" placeholder="name@gsu.by" required autofocus />

            <button type="submit" class="btn btn-gradient mt-2">Войти</button>

            @if (ViewBag.Error != null)
            {
                <div class="text-danger text-center mt-2">@ViewBag.Error</div>
            }
        </form>
    </div>
</div>